#radishes {
  background: #FFEFBA;
  background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
  background: linear-gradient(to right, #FFFFFF, #FFEFBA);
  background-size: cover;
  height: 1800px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  margin-bottom: 0px;
  margin-top: 0px;
}
