.enter {
  border-radius: 25px;
  border: 2px solid #777;
  padding: 20px;
  width: 200px;
  height: 15px;
  margin-bottom: 10px;
}

.r_click {
  color: #B22222	;
  background-color: transparent;
  border-radius: 25px;
  border: 2px solid #777;
  font-weight: bold;
  border-color: #777;
  margin-bottom: 5px;
  width: auto;
}

.form {
  margin-bottom: 25px;
}
