body {
   font-family: 'Montserrat', sans-serif;
}

.navbar {
  margin-bottom: 0;
  border-radius:0px;
}

.jumbotron {
  display: flex;
  background-image: url('img/corn-1908474_1920.jpg');
  background-size: cover;
  color: #ffffff;
  height: 600px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  margin-bottom: 0px;
}

.jumbotron h1 {
  font-size: 160px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  font-size: 45px;
  font-weight: bold;
  margin: 0;
  color: #fff;
}

.jumbotron p {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  color: #fff;
}

.btn {
  color: #fff;
  background-color: transparent;
  font-weight: bold;
  border-color: white;
  margin-bottom: 5px;
  border-left-width: thick;
}

.title {
  text-align: center;
}

.icon {
  text-align: center;
}

.icon p {
  margin-bottom: 30px;
}

.footer {
  padding-top: 200px;
}

.features {
  background: #FFEFBA;
  background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
  background: linear-gradient(to right, #FFFFFF, #FFEFBA);
  background-size: cover;
  height: 400px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  margin-bottom: 0px;
}

.features h1 {
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  color: #777;
}

.features h3 {
  font-size: 20px;
  color: #999;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
  margin-bottom: 20px;
}

.features p {
  font-size: 15px;
  padding-left: 75px;
  padding-right: 75px;
  margin-left: 40px;
  margin-right: 40px;
}

.features img {
  margin-bottom: 15px;
  height: 20%;
  width: 20%;
}

footer   {
  background: #0F2027;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  color: #777;
  padding: 40px;
  text-align: center;
}
